In [1]:
import numpy as np 
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import classification_report
from sklearn.preprocessing import StandardScaler

In [2]:
df = pd.read_csv("hacktrain.csv")
df

,Unnamed: 0,ID,class,20150720_N,20150602_N,20150517_N,20150501_N,20150415_N,20150330_N,20150314_N,...,20140610_N,20140525_N,20140509_N,20140423_N,20140407_N,20140322_N,20140218_N,20140202_N,20140117_N,20140101_N
0,0,1,water,637.5950,658.668,-1882.030,-1924.36,997.904,-1739.990,630.087,...,NaN,-1043.160,-1942.490,267.138,NaN,NaN,211.328,-2203.020,-1180.19,433.906
1,1,2,water,634.2400,593.705,-1625.790,-1672.32,914.198,-692.386,707.626,...,NaN,-933.934,-625.385,120.059,364.858,476.972,220.878,-2250.000,-1360.56,524.075
2,3,4,water,58.0174,-1599.160,NaN,-1052.63,NaN,-1564.630,NaN,...,-1025.880,368.622,NaN,-1227.800,304.621,NaN,369.214,-2202.120,NaN,-1343.550
3,4,5,water,72.5180,NaN,380.436,-1256.93,515.805,-1413.180,-802.942,...,-1813.950,155.624,NaN,-924.073,432.150,282.833,298.320,-2197.360,NaN,-826.727
4,7,8,water,1136.4400,NaN,NaN,1647.83,1935.800,NaN,2158.980,...,1535.000,1959.430,-279.317,-384.915,-113.406,1020.720,1660.650,-116.801,-568.05,-1357.140
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,10537,10538,impervious,1207.7000,984.620,NaN,1166.25,937.478,1072.700,823.896,...,1117.740,1176.600,1044.110,NaN,369.082,465.843,362.882,979.795,NaN,433.659
7996,10538,10539,impervious,2170.3500,1419.720,1361.000,1478.71,983.911,1262.110,1422.860,...,984.634,2128.970,1379.660,NaN,762.633,485.204,446.724,771.747,1589.06,506.936
7997,10541,10542,impervious,1895.6800,1454.740,NaN,1033.56,1930.380,1057.150,1471.600,...,888.408,2093.020,1232.110,1190.830,1441.460,1170.880,1095.000,1818.650,2501.72,1247.770
7998,10542,10543,impervious,3465.7400,1283.320,413.412,4391.05,1146.820,4473.050,1614.750,...,5833.760,4047.320,4515.800,433.177,277.296,744.143,NaN,3759.710,NaN,388.346
7999,10544,10545,impervious,6941.1900,1667.870,5084.780,NaN,1588.950,5978.190,NaN,...,7352.570,3289.860,3729.150,1994.980,NaN,5299.900,NaN,5983.130,1249.71,2424.230

In [3]:
df.isnull().sum()

Unnamed: 0       0
ID               0
class            0
20150720_N     560
20150602_N    1200
20150517_N     800
20150501_N     960
20150415_N     480
20150330_N    1120
20150314_N     720
20150226_N    1360
20150210_N     640
20150125_N    1040
20150109_N     880
20141117_N    1280
20141101_N     400
20141016_N    1440
20140930_N     800
20140813_N     560
20140626_N    1600
20140610_N     480
20140525_N     720
20140509_N     880
20140423_N    1760
20140407_N     640
20140322_N    1120
20140218_N    1440
20140202_N     560
20140117_N    1200
20140101_N     400
dtype: int64

In [4]:
df.fillna(df.mean(numeric_only=True), inplace=True) 
df.isnull().sum()

Unnamed: 0    0
ID            0
class         0
20150720_N    0
20150602_N    0
20150517_N    0
20150501_N    0
20150415_N    0
20150330_N    0
20150314_N    0
20150226_N    0
20150210_N    0
20150125_N    0
20150109_N    0
20141117_N    0
20141101_N    0
20141016_N    0
20140930_N    0
20140813_N    0
20140626_N    0
20140610_N    0
20140525_N    0
20140509_N    0
20140423_N    0
20140407_N    0
20140322_N    0
20140218_N    0
20140202_N    0
20140117_N    0
20140101_N    0
dtype: int64

In [5]:
# Drop ID column
df.drop(columns=['Unnamed: 0','ID'], inplace=True)
df.head()

,class,20150720_N,20150602_N,20150517_N,20150501_N,20150415_N,20150330_N,20150314_N,20150226_N,20150210_N,...,20140610_N,20140525_N,20140509_N,20140423_N,20140407_N,20140322_N,20140218_N,20140202_N,20140117_N,20140101_N
0,water,637.5950,658.668000,-1882.030000,-1924.36,997.904000,-1739.990000,630.087000,4987.520158,-1325.64,...,4872.68167,-1043.160,-1942.490000,267.138,2041.316792,2799.820342,211.328,-2203.020,-1180.190000,433.906
1,water,634.2400,593.705000,-1625.790000,-1672.32,914.198000,-692.386000,707.626000,-1670.590000,-1408.64,...,4872.68167,-933.934,-625.385000,120.059,364.858000,476.972000,220.878,-2250.000,-1360.560000,524.075
2,water,58.0174,-1599.160000,4469.837748,-1052.63,2927.586705,-1564.630000,3313.881373,729.790000,-3162.14,...,-1025.88000,368.622,3012.178524,-1227.800,304.621000,2799.820342,369.214,-2202.120,2629.203972,-1343.550
3,water,72.5180,4868.091395,380.436000,-1256.93,515.805000,-1413.180000,-802.942000,683.254000,-2829.40,...,-1813.95000,155.624,3012.178524,-924.073,432.150000,282.833000,298.320,-2197.360,2629.203972,-826.727
4,water,1136.4400,4868.091395,4469.837748,1647.83,1935.800000,4924.493648,2158.980000,4987.520158,1242.87,...,1535.00000,1959.430,-279.317000,-384.915,-113.406000,1020.720000,1660.650,-116.801,-568.050000,-1357.140

In [6]:
# Step 2: Drop rows with more than 30% missing data
df = df[df.isnull().mean(axis=1) < 0.3]

In [7]:
# Step 3: Impute missing values with mean
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='mean')
X = df.drop(columns=['class'])
X_imputed = imputer.fit_transform(X)

df

,class,20150720_N,20150602_N,20150517_N,20150501_N,20150415_N,20150330_N,20150314_N,20150226_N,20150210_N,...,20140610_N,20140525_N,20140509_N,20140423_N,20140407_N,20140322_N,20140218_N,20140202_N,20140117_N,20140101_N
0,water,637.5950,658.668000,-1882.030000,-1924.360000,997.904000,-1739.990000,630.087000,4987.520158,-1325.640000,...,4872.68167,-1043.160,-1942.490000,267.138000,2041.316792,2799.820342,211.328000,-2203.020,-1180.190000,433.906
1,water,634.2400,593.705000,-1625.790000,-1672.320000,914.198000,-692.386000,707.626000,-1670.590000,-1408.640000,...,4872.68167,-933.934,-625.385000,120.059000,364.858000,476.972000,220.878000,-2250.000,-1360.560000,524.075
2,water,58.0174,-1599.160000,4469.837748,-1052.630000,2927.586705,-1564.630000,3313.881373,729.790000,-3162.140000,...,-1025.88000,368.622,3012.178524,-1227.800000,304.621000,2799.820342,369.214000,-2202.120,2629.203972,-1343.550
3,water,72.5180,4868.091395,380.436000,-1256.930000,515.805000,-1413.180000,-802.942000,683.254000,-2829.400000,...,-1813.95000,155.624,3012.178524,-924.073000,432.150000,282.833000,298.320000,-2197.360,2629.203972,-826.727
4,water,1136.4400,4868.091395,4469.837748,1647.830000,1935.800000,4924.493648,2158.980000,4987.520158,1242.870000,...,1535.00000,1959.430,-279.317000,-384.915000,-113.406000,1020.720000,1660.650000,-116.801,-568.050000,-1357.140
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,impervious,1207.7000,984.620000,4469.837748,1166.250000,937.478000,1072.700000,823.896000,943.698000,944.619000,...,1117.74000,1176.600,1044.110000,3055.167358,369.082000,465.843000,362.882000,979.795,2629.203972,433.659
7996,impervious,2170.3500,1419.720000,1361.000000,1478.710000,983.911000,1262.110000,1422.860000,1401.970000,1372.680000,...,984.63400,2128.970,1379.660000,3055.167358,762.633000,485.204000,446.724000,771.747,1589.060000,506.936
7997,impervious,1895.6800,1454.740000,4469.837748,1033.560000,1930.380000,1057.150000,1471.600000,4987.520158,2693.630000,...,888.40800,2093.020,1232.110000,1190.830000,1441.460000,1170.880000,1095.000000,1818.650,2501.720000,1247.770
7998,impervious,3465.7400,1283.320000,413.412000,4391.050000,1146.820000,4473.050000,1614.750000,770.469000,4320.961814,...,5833.76000,4047.320,4515.800000,433.177000,277.296000,744.143000,2144.360224,3759.710,2629.203972,388.346
7999,impervious,6941.1900,1667.870000,5084.780000,5193.485086,1588.950000,5978.190000,3313.881373,3068.030000,6471.470000,...,7352.57000,3289.860,3729.150000,1994.980000,2041.316792,5299.900000,2144.360224,5983.130,1249.710000,2424.230

In [8]:
# Encode class column (if it's categorical)
label_encoder = LabelEncoder()
df['class'] = label_encoder.fit_transform(df['class'])
df

,class,20150720_N,20150602_N,20150517_N,20150501_N,20150415_N,20150330_N,20150314_N,20150226_N,20150210_N,...,20140610_N,20140525_N,20140509_N,20140423_N,20140407_N,20140322_N,20140218_N,20140202_N,20140117_N,20140101_N
0,5,637.5950,658.668000,-1882.030000,-1924.360000,997.904000,-1739.990000,630.087000,4987.520158,-1325.640000,...,4872.68167,-1043.160,-1942.490000,267.138000,2041.316792,2799.820342,211.328000,-2203.020,-1180.190000,433.906
1,5,634.2400,593.705000,-1625.790000,-1672.320000,914.198000,-692.386000,707.626000,-1670.590000,-1408.640000,...,4872.68167,-933.934,-625.385000,120.059000,364.858000,476.972000,220.878000,-2250.000,-1360.560000,524.075
2,5,58.0174,-1599.160000,4469.837748,-1052.630000,2927.586705,-1564.630000,3313.881373,729.790000,-3162.140000,...,-1025.88000,368.622,3012.178524,-1227.800000,304.621000,2799.820342,369.214000,-2202.120,2629.203972,-1343.550
3,5,72.5180,4868.091395,380.436000,-1256.930000,515.805000,-1413.180000,-802.942000,683.254000,-2829.400000,...,-1813.95000,155.624,3012.178524,-924.073000,432.150000,282.833000,298.320000,-2197.360,2629.203972,-826.727
4,5,1136.4400,4868.091395,4469.837748,1647.830000,1935.800000,4924.493648,2158.980000,4987.520158,1242.870000,...,1535.00000,1959.430,-279.317000,-384.915000,-113.406000,1020.720000,1660.650000,-116.801,-568.050000,-1357.140
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,3,1207.7000,984.620000,4469.837748,1166.250000,937.478000,1072.700000,823.896000,943.698000,944.619000,...,1117.74000,1176.600,1044.110000,3055.167358,369.082000,465.843000,362.882000,979.795,2629.203972,433.659
7996,3,2170.3500,1419.720000,1361.000000,1478.710000,983.911000,1262.110000,1422.860000,1401.970000,1372.680000,...,984.63400,2128.970,1379.660000,3055.167358,762.633000,485.204000,446.724000,771.747,1589.060000,506.936
7997,3,1895.6800,1454.740000,4469.837748,1033.560000,1930.380000,1057.150000,1471.600000,4987.520158,2693.630000,...,888.40800,2093.020,1232.110000,1190.830000,1441.460000,1170.880000,1095.000000,1818.650,2501.720000,1247.770
7998,3,3465.7400,1283.320000,413.412000,4391.050000,1146.820000,4473.050000,1614.750000,770.469000,4320.961814,...,5833.76000,4047.320,4515.800000,433.177000,277.296000,744.143000,2144.360224,3759.710,2629.203972,388.346
7999,3,6941.1900,1667.870000,5084.780000,5193.485086,1588.950000,5978.190000,3313.881373,3068.030000,6471.470000,...,7352.57000,3289.860,3729.150000,1994.980000,2041.316792,5299.900000,2144.360224,5983.130,1249.710000,2424.230

In [9]:
# Split into features and target
X_imputed = df.drop(columns=['class'])
Y = df['class']

In [10]:
Y #target

0       5
1       5
2       5
3       5
4       5
       ..
7995    3
7996    3
7997    3
7998    3
7999    3
Name: class, Length: 8000, dtype: int32

In [11]:
X_imputed #features

,20150720_N,20150602_N,20150517_N,20150501_N,20150415_N,20150330_N,20150314_N,20150226_N,20150210_N,20150125_N,...,20140610_N,20140525_N,20140509_N,20140423_N,20140407_N,20140322_N,20140218_N,20140202_N,20140117_N,20140101_N
0,637.5950,658.668000,-1882.030000,-1924.360000,997.904000,-1739.990000,630.087000,4987.520158,-1325.640000,-944.084000,...,4872.68167,-1043.160,-1942.490000,267.138000,2041.316792,2799.820342,211.328000,-2203.020,-1180.190000,433.906
1,634.2400,593.705000,-1625.790000,-1672.320000,914.198000,-692.386000,707.626000,-1670.590000,-1408.640000,-989.285000,...,4872.68167,-933.934,-625.385000,120.059000,364.858000,476.972000,220.878000,-2250.000,-1360.560000,524.075
2,58.0174,-1599.160000,4469.837748,-1052.630000,2927.586705,-1564.630000,3313.881373,729.790000,-3162.140000,5237.037739,...,-1025.88000,368.622,3012.178524,-1227.800000,304.621000,2799.820342,369.214000,-2202.120,2629.203972,-1343.550
3,72.5180,4868.091395,380.436000,-1256.930000,515.805000,-1413.180000,-802.942000,683.254000,-2829.400000,-1267.540000,...,-1813.95000,155.624,3012.178524,-924.073000,432.150000,282.833000,298.320000,-2197.360,2629.203972,-826.727
4,1136.4400,4868.091395,4469.837748,1647.830000,1935.800000,4924.493648,2158.980000,4987.520158,1242.870000,-2646.050000,...,1535.00000,1959.430,-279.317000,-384.915000,-113.406000,1020.720000,1660.650000,-116.801,-568.050000,-1357.140
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,1207.7000,984.620000,4469.837748,1166.250000,937.478000,1072.700000,823.896000,943.698000,944.619000,1040.990000,...,1117.74000,1176.600,1044.110000,3055.167358,369.082000,465.843000,362.882000,979.795,2629.203972,433.659
7996,2170.3500,1419.720000,1361.000000,1478.710000,983.911000,1262.110000,1422.860000,1401.970000,1372.680000,1142.340000,...,984.63400,2128.970,1379.660000,3055.167358,762.633000,485.204000,446.724000,771.747,1589.060000,506.936
7997,1895.6800,1454.740000,4469.837748,1033.560000,1930.380000,1057.150000,1471.600000,4987.520158,2693.630000,2377.550000,...,888.40800,2093.020,1232.110000,1190.830000,1441.460000,1170.880000,1095.000000,1818.650,2501.720000,1247.770
7998,3465.7400,1283.320000,413.412000,4391.050000,1146.820000,4473.050000,1614.750000,770.469000,4320.961814,2676.000000,...,5833.76000,4047.320,4515.800000,433.177000,277.296000,744.143000,2144.360224,3759.710,2629.203972,388.346
7999,6941.1900,1667.870000,5084.780000,5193.485086,1588.950000,5978.190000,3313.881373,3068.030000,6471.470000,7150.420000,...,7352.57000,3289.860,3729.150000,1994.980000,2041.316792,5299.900000,2144.360224,5983.130,1249.710000,2424.230

In [12]:
# Train-test split
X_train, X_test, Y_train, Y_test = train_test_split(X_imputed, Y, test_size=0.2, random_state=42, stratify=Y)
# Scale the features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)

In [13]:
# Fit multinomial logistic regression
model = LogisticRegression(max_iter=1000, solver='lbfgs')
model.fit(X_train_scaled, Y_train)

LogisticRegression(max_iter=1000)

In [14]:
# Predict on test set
X_test_scaled = scaler.transform(X_test)  # scale the test set
Y_pred = model.predict(X_test_scaled)     # now predict on scaled test set

In [15]:
print(Y_test[:5])
print(Y_pred[:5])

734     1
4556    1
6459    3
4639    1
7321    0
Name: class, dtype: int32
[1 1 3 1 0]

In [16]:
# Classification report with all original class labels
print(classification_report(
    Y_test,
    Y_pred,
    labels=list(range(len(label_encoder.classes_))),
    target_names=label_encoder.classes_
))

              precision    recall  f1-score   support

        farm       0.62      0.38      0.47       168
      forest       0.90      0.97      0.93      1232
       grass       0.38      0.15      0.22        39
  impervious       0.83      0.85      0.84       134
     orchard       1.00      0.17      0.29         6
       water       0.79      0.52      0.63        21

    accuracy                           0.87      1600
   macro avg       0.75      0.51      0.56      1600
weighted avg       0.85      0.87      0.85      1600

In [17]:
test_data = pd.read_csv("hacktest.csv")
test_data.shape

(2845, 29)

In [18]:
ID=test_data['ID']
test_data.drop(['Unnamed: 0','ID'],axis=1,inplace=True)
test_data_scaled = scaler.transform(test_data)
test_data

,20150720_N,20150602_N,20150517_N,20150501_N,20150415_N,20150330_N,20150314_N,20150226_N,20150210_N,20150125_N,...,20140610_N,20140525_N,20140509_N,20140423_N,20140407_N,20140322_N,20140218_N,20140202_N,20140117_N,20140101_N
0,7466.4200,413.162,5761.000,5625.45,489.4030,3923.84,3097.110,6766.42000,2829.130,6742.570,...,801.184,927.115,4704.14,6378.42,340.949,2695.5700,527.268,4736.75,601.843,6639.760
1,7235.2600,6037.350,1027.560,6085.14,1618.0500,6668.54,2513.990,1051.69000,7268.220,6908.180,...,5533.470,5103.040,5216.12,4885.27,4366.790,1234.1400,3298.110,6942.68,1070.440,842.101
2,7425.0800,6969.980,1177.940,7408.93,861.0610,7644.43,814.458,1504.29000,7002.630,6086.560,...,1981.390,6204.540,7021.69,5704.41,4897.450,1789.9900,2206.100,6928.93,1036.560,831.441
3,7119.1200,1731.620,6311.930,6441.61,465.9790,7128.42,1649.120,6935.22000,2176.800,690.408,...,959.344,5794.150,1045.57,5572.90,586.287,685.9060,1287.000,6734.72,824.584,6883.610
4,7519.5500,8130.260,1482.540,7879.53,1001.2100,7937.60,4122.530,1094.51000,7951.440,8001.350,...,7636.070,6996.760,7413.43,4596.13,4511.700,1413.5200,3283.940,7937.68,1857.800,1336.920
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2840,-1673.7400,-2514.480,-2451.190,-2738.44,64.4464,-2275.03,-2881.100,-4738.97000,-4293.570,-4402.210,...,-2257.890,-2582.420,-1699.10,-2295.30,306.483,209.4030,221.920,-4885.15,-2630.590,356.233
2841,-96.8233,-412.727,-1795.400,-2363.82,-2168.1900,-2162.68,-3155.740,-4416.11000,-5648.660,-5193.280,...,-3991.910,-2614.910,-2109.84,-2687.18,-2853.890,71.3402,-86.414,-5109.01,324.637,-4316.580
2842,-2364.6000,-155.592,-1422.090,-1713.40,465.6220,-2230.40,-3088.730,-5010.32000,-4211.420,-3354.430,...,-2484.500,-1756.080,-3820.43,-1988.23,433.852,291.8000,254.548,-4259.30,412.115,-1170.750
2843,-3004.6300,-1217.120,180.122,-1113.89,438.4180,-2442.51,-3210.560,-3237.74000,-192.857,-2857.540,...,-3291.490,-2018.450,-3472.65,-3109.07,511.792,369.0970,276.948,-5574.51,298.739,460.419
2844,-2975.1000,-1129.790,463.748,-5355.40,193.5110,-2590.16,-3113.520,-2.38883,-1248.450,328.306,...,-3058.230,-2276.180,-3335.00,-2929.19,-1007.500,271.0580,307.997,-5453.33,307.495,417.124

In [19]:
Y_test = model.predict(test_data_scaled)

In [20]:
Y_test

array([0, 1, 4, ..., 5, 5, 3])

In [21]:
Y_decoded = label_encoder.inverse_transform(Y_test)
Y_decoded

array(['farm', 'forest', 'orchard', ..., 'water', 'water', 'impervious'],
      dtype=object)

In [22]:
result = pd.DataFrame({
    'ID': ID,
    'class': Y_decoded
})

In [23]:
result

        ID       class
0        1        farm
1        2      forest
2        3     orchard
3        4      forest
4        5     orchard
...    ...         ...
2840  2841       water
2841  2842  impervious
2842  2843       water
2843  2844       water
2844  2845  impervious

[2845 rows x 2 columns]

In [24]:
result.to_csv("submission.csv", index=False)